* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  background-color: #686768;
  color: white;
  padding: 10px;
  font-size: 55px;
}

header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  text-decoration: none;
  list-style: none; 
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 5px;
  background-color: #686768;
}

li {
  border-right: 3px solid #f26e01; /*put a v.line in between*/
  align-items: center;
  display: inline-block;
}
/* Add a gray right border to all list items, 
except the last item (last-child) */
li:last-child {
  border-right: none;
}

li a {
  /* display: inline-block; */
  color: hsl(0, 0%, 100%);
  padding: 1px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(196, 189, 189);
  color: rgb(254, 3, 3);
}

.container {
    position: relative;
    text-align: center;
    background-image: url(tent.png);
    max-width: 100;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 50px;
}


h5 {
  font-size: 40px;
}

.centered {
  font-size: 30px;
  text-align: center;
  width: 100%;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button1 {
  background-color: orangered;
  border: orangered;
  color: white;
  width: auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h4 {
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

.france,
.japan {
  height: 380px;
  width: 280px;
}

.pic1,
.pic2 {
  background-color: white;
  padding: 20px 5px;
  margin-top: 40px;
  margin-right: 5px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  display: inline-block;
  text-align: center;
  margin-left: 5%;
}

.pic3 {
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  display: inline-block;
  margin-left: 32%;
}

.york {
  width: 350px;
  height: 342px;
}

.orange {
  border-style: solid;
  background-color: rgb(246, 76, 3);
  font-size: 25px;
  color: white;
  margin-left: auto;
  text-align: center;
  padding: 40px
}

.orange p{
  font-size: 12px;
}

button {
  background-color: rgb(11, 11, 11);
  color: white;
  width: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 1px;
  cursor: pointer;
}

input {
  width: 700px;
}

.footer{
  background-color: #000000;
  color: white;
  text-align: center;
}